body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000;
    /* Dark Burgundy */
    color: #FFD700;
    /* Yellow */
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #510008;
    color: #FFD700;
    text-align: center;
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #FFD700;
    font-weight: bold;
}





section {
    padding: 20px;
}

#about {
    background-color: #FFD700;
    /* Yellow */
    color: #510008;
}

#achievements {
    background-color: #510008;
    color: #FFD700;
}

#legacy {
    background-color: #FFD700;
    color: #510008;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#gallery {
    background-color: #510008;
    color: #FFD700;
}

#gallery img {
    max-width: 500px;
    height: 500px;
}

button {
    background-color: #510008;
    color: #FFD700;
    padding: 10px;
    border: none;
    cursor: pointer;
}

