<div class="footer">
    <div class="box">
        <div class="left">
            <div class="aboutUsFooter">
                <p>About Me</p>
                <div>
                    <p>Frequently Asked Questions</p>
                </div>
            </div>
            <div class="contactUsFooter">
                <div class="contact">
                    <div>Reach Me on My socials below ⇓</div>
                </div>
                <div class="icon">
                    <a href="www.facebook.com" class="fa-brands fa-facebook"></a>
                    <a href="www.instagram.com" class="fa-brands fa-instagram"></a>
                    <a href="https://github.com/NetanB" class="fa-brands fa-github"></a>
                    <a href="https://ca.linkedin.com/in/netan-b-8b764013b?trk=public_profile_browsemap"
                        class="fa-brands fa-linkedin"></a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="newsletter">
                <p>Subscribe To My Newsletter</p>
                <div class="email">
                    <input type="email" placeholder="Enter Your Email Here">
                    <button>Subscribe</button>

                </div>
            </div>
        </div>
    </div>
    <div class="copyrights">
        Netan Bhardwaj - JavaScript Frameworks Lab 04    </div>
</div>