<div class="header">
    <div class="logo">
        Netan&#39;s Favorite Basketball Players
    </div>
    <nav>
        <ul>
            <li><a href="/">Kobe</a></li>
            <li><a href="/Lebron">Lebron</a></li>
            <li><a href="/Michael">Michael</a></li>
            <li><a href="/Steph">Steph</a></li>
        </ul>
    </nav>
</div>