<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
    <link rel='stylesheet' href='/stylesheets/kobe.css' />
  <body>
    <header>
      <%- include('./partials/header'); %>
    </header>
    <nav>
      <ul>
        <li><a href="#about">About Kobe</a></li>
        <li><a href="#achievements">Achievements</a></li>
        <li><a href="#legacy">Legacy</a></li>
        <li><a href="#gallery">Gallery</a></li>
      </ul>
    </nav>
    
    <section id="about">
      <h2>About Kobe Bryant</h2>
      <p>Kobe Bryant, the legendary basketball player, was known for his dedication and passion for the game. Kobe Bryant was born in Philadelphia in 1978, and both of his parents had roots in the National Basketball Association.
      His father, Joe Bryant, played in the NBA from 1975 to 1983, and he continued his basketball career by playing in Europe
      and coaching until 2015. Kobe’s mother, Pamela Cox Bryant, also had connections to the NBA through her brother John
      Arthur “Chubby” Cox III.
      <br>
      <br>
      Kobe’s parents raised him on basketball, with the future star player beginning the sport at the age of three. At age
      six, Kobe’s father retired from the NBA, but he continued playing professionally in Europe. Joe Bryant moved their
      family to Italy, where Kobe became more serious about playing basketball. Despite his young age, Kobe decided that he was interested in seeing how far he could go with basketball, and he
      developed an impressive work ethic that set him apart as he navigated his childhood and teenage years. While others put
      in the bare minimum, or just wanted to have fun, Kobe pushed himself to excel — even at a young age.
      <br>
      <br>
      Kobe’s family returned to Philadelphia when he was 13. A few years later, he continued his basketball journey by making
      the Lower Merion High School varsity team in Ardmore. Although the team had a rocky time during his freshman year, Kobe
      led them to numerous impressive victories over the course of his high school career, including a state championship in
      his senior year. The star high school player received a great deal of recognition for his impressive performance on the court, including
      the Naismith High School Player of the Year, USA Today All-USA First Team player, Gatorade Men’s National Basketball
      Player of the Year, and other accolades. Although Kobe initially planned to play college ball, he was inspired by Kevin Garnett to go directly into the NBA. He
      became the sixth player to join the NBA draft right out of high school.
      <br>
      <br>
      Before the 1996 draft began, Kobe had already gotten the attention of the L.A. Lakers. He scrimmaged with former players
      Larry Drew and Cooper West, and the Lakers’ general manager at the time, Jerry West, reported that Kobe dominated the
      games against these former star athletes.The Lakers made a deal with the Charlotte Hornets to trade their center Vlade Divac for their draft pick. During the
      draft, the Lakers instructed the Hornets to pick up Kobe Bryant, and he officially joined the Lakers on July 9, 1996. He
      was only 17 at the time, so his parents had to cosign his contract!
      <br>
      <br>
      Read more about him here at https://greatness.com/upgrade-your-work-ethic-into-kobe-bryant-mamba-mentality-2/</p>
      
    </section>
    
    <section id="achievements">
      <h2>Achievements</h2>
      <ul>
        <li>5× NBA champion</li>
        <li>2× Olympic gold medalist</li>
        <li>18× NBA All-Star</li>
        <li>4× NBA All-Star Game MVP</li>
        <li>2× NBA Finals MVP</li>
        <li>2008 NBA Most Valuable Player (MVP)</li>
        <li>Oscar winner</li>
      </ul>
    </section>
    
    <section id="legacy">
      <h2>Legacy</h2>
      <p>Kobe Bryant's legacy is a testament to his unparalleled prowess on the basketball court, where he clinched five NBA
      championships with the Los Angeles Lakers and earned an enduring reputation as one of the sport's most prolific scorers.
      His "Mamba Mentality," a philosophy rooted in unwavering dedication and relentless pursuit of excellence, not only
      propelled him to greatness but also became a mantra influencing aspiring athletes and professionals worldwide. Off the
      court, Bryant's philanthropy, notably through the Kobe and Vanessa Bryant Family Foundation, showcased his commitment to
      fostering positive change in communities, emphasizing education, and providing opportunities for underserved youth.
      <br>
      <br>
      Tragically, Kobe's sudden and untimely death in a helicopter crash in 2020, alongside his daughter Gianna and seven
      others, shook the world and led to an outpouring of grief. The profound impact of his legacy persists, extending beyond
      basketball, as his life story continues to inspire millions, and his contributions to sports, philanthropy, and
      storytelling cement his place as an enduring icon in the hearts of fans and admirers globally.</p>
      
    </section>
    
    <section id="gallery">
      <h2>Gallery</h2>
      <div class="image-container">
        <img src="../images/img1.gif" alt="Kobe Bryant Image 1">
        <img src="../images/img2.png" alt="Kobe Bryant Image 2">
      </div>
    </section>

    <footer>
      <%- include('./partials/footer'); %>
     <link rel='stylesheet' href='/stylesheets/footer.css' />
    </footer>
  </body>
</html>
