<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
    <link rel='stylesheet' href='/stylesheets/lebron.css' />
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <nav>
        <ul>
            <li><a href="#about">About LeBron</a></li>
            <li><a href="#achievements">Achievements</a></li>
            <li><a href="#legacy">Legacy</a></li>
            <li><a href="#gallery">Gallery</a></li>
           
        </ul>
    </nav>

    <section id="about">
        <h2>About LeBron James</h2>
        <p>James was born on December 30, 1984, in Akron, Ohio, to Gloria Marie James, who was 16 at the time of his birth.
        His father, Anthony McClelland, has an extensive criminal record and was not involved in his life. When
        James was growing up, life was often a struggle for the family, as they moved from apartment to apartment in the seedier
        neighborhoods of Akron while Gloria struggled to find steady work. Realizing that her son would be better off in a
        more stable family environment, Gloria allowed him to move in with the family of Frank Walker, a local youth football
        coach who introduced James to basketball when he was nine years old.
        <br>
        <br>
        James began playing organized basketball in the fifth grade. He later played Amateur Athletic Union (AAU) basketball
        for the Northeast Ohio Shooting Stars. The team enjoyed success on a local and national level, led by James and his
        friends Sian Cotton, Dru Joyce III, and Willie McGee.
        <br>
        <br>   
            James grew up playing basketball for St. Vincent–St. Mary High School in his hometown of Akron, Ohio. He was heavily
        touted by the national media as a future NBA superstar for his all-around scoring, passing, athleticism and playmaking
        abilities. A prep-to-pro, he was selected by the Cleveland Cavaliers with the first overall pick of the 2003 NBA
        draft. Named the 2004 NBA Rookie of the Year, he soon established himself as one of the league's premier players,
        leading the Cavaliers to their first NBA Finals appearance in 2007 and winning the NBA MVP award in 2009 and 2010.
        After failing to win a championship with Cleveland, James left in 2010 as a free agent to join the Miami Heat; this
        was announced in a nationally televised special titled The Decision and is among the most controversial free agency
        moves in sports history.</p>
        
    </section>

    <section id="achievements">
        <h2>Achievements</h2>
        <ul>
            <li>4× NBA champion</li>
            <li>4× NBA Most Valuable Player (MVP)</li>
            <li>17× NBA All-Star</li>
            <li>2× Olympic gold medalist</li>
            <li>4× NBA Finals MVP</li>
        </ul>
    </section>

    <section id="legacy">
        <h2>Legacy</h2>
        <p>LeBron James's legacy is defined by his unparalleled success on the basketball court and his impactful contributions
        both within and beyond the realm of sports. Renowned for his incredible athleticism, versatility, and basketball IQ,
        LeBron has achieved four NBA championships and has been crowned NBA Finals MVP four times. His leadership skills and
        ability to elevate teammates have reshaped the expectations of a modern basketball superstar. Off the court, LeBron has
        established himself as a prominent philanthropist through initiatives like the LeBron James Family Foundation. The
        foundation focuses on empowering at-risk youth through educational programs, scholarships, and community development
        projects, leaving an enduring impact on countless lives.
        <br>
        <br>
        Moreover, LeBron's outspoken advocacy for social justice has positioned him as a leading voice in addressing systemic
        inequalities. From addressing racial issues to promoting education and voting rights, LeBron leverages his platform to
        effect positive change. Beyond his athletic achievements, LeBron James's legacy is characterized by his commitment to
        social responsibility, philanthropy, and his unwavering dedication to making a lasting impact on society both as a
        basketball icon and a champion for social justice.</p>
    </section>

    <section id="gallery">
        <h2>Gallery</h2>
        <div class="image-container">
            <img src="../images/img3.jpg" alt="LeBron Image 1">
            <img src="../images/img4.jpg" alt="Lebron Image 2">
        </div>
    </section>

    <footer>
        <%- include('./partials/footer'); %>
        <link rel='stylesheet' href='/stylesheets/footer.css' />
    </footer>
</body>

</html>