<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
    <link rel='stylesheet' href='/stylesheets/michael.css'/>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <nav>
        <ul>
            <li><a href="#about">About Michael</a></li>
            <li><a href="#achievements">Achievements</a></li>
            <li><a href="#legacy">Legacy</a></li>
            <li><a href="#gallery">Gallery</a></li>
        
        </ul>
    </nav>

    <section id="about">
        <h2>About Michael Jordan</h2>
        <p>Michael Jeffrey Jordan. Before Michael Jordan rose to NBA stardom and became an iconic figure in basketball history, his journey began in his
        hometown of Wilmington, North Carolina. Jordan's early years were marked by his deep passion for sports, particularly
        baseball and basketball. He showed immense promise as a high school basketball player, earning a spot on the varsity
        team during his sophomore year. His growth spurt in high school contributed to his development as a versatile and agile
        player, eventually earning him a scholarship to the University of North Carolina at Chapel Hill.
        <br>
        <br>
        At UNC, Jordan continued to hone his skills under the guidance of legendary coach Dean Smith. During his freshman year,
        he made a significant impact by sinking the game-winning shot in the NCAA championship game, illustrating his remarkable
        poise and clutch abilities even at a young age. His time at UNC saw him named ACC Player of the Year, and he later led
        the U.S. Men's Basketball Team to a gold medal at the 1984 Summer Olympics in Los Angeles. These early successes were
        pivotal in establishing Jordan as a highly sought-after prospect for the upcoming NBA Draft.
        <br>
        <br>
        The 1984 NBA Draft marked the next phase of Michael Jordan's journey as he was selected by the Chicago Bulls as the
        third overall pick. Little did the basketball world know that this unassuming rookie would go on to redefine the game,
        amass numerous accolades, and cement his legacy as one of the greatest basketball players of all time. Jordan's
        incredible work ethic, combined with the skills he had developed in his formative years, set the stage for a career that
        would not only transform the NBA but also transcend the world of sports.</p>
        
    </section>

    <section id="achievements">
        <h2>Achievements</h2>
        <ul>
            <li>6× NBA champion</li>
            <li>5× NBA Most Valuable Player (MVP)</li>
            <li>14× NBA All-Star</li>
            <li>10× NBA scoring champion</li>
            <li>2× Olympic gold medalist</li>
        </ul>
    </section>

    <section id="legacy">
        <h2>Legacy</h2>
        <p>Michael Jordan's impact on the game of basketball and sports culture...</p>
        <p>TMichael Jordan's legacy stands as an indelible mark in the history of basketball, defining excellence and
        competitiveness at its pinnacle. As a six-time NBA champion with the Chicago Bulls, Jordan's on-court prowess is etched
        in the memory of fans as he secured numerous accolades, including five MVP awards and ten scoring titles. His clutch
        performances in critical moments, epitomized by iconic game-winning shots, earned him the moniker "His Airness." Beyond
        statistics, Jordan's influence transformed the NBA into a global phenomenon during the 1990s, making basketball a
        cultural force and elevating him to the status of a global sports icon.
        <br>
        <br>
        Off the court, Jordan's impact extended into the realms of business and fashion. His partnership with Nike led to the
        creation of the iconic Air Jordan sneaker line, transcending sportswear to become a symbol of cultural significance.
        Additionally, Jordan's ownership of the Charlotte Hornets further solidifies his role in shaping the landscape of
        professional basketball. Michael Jordan's legacy is not merely statistical dominance but a cultural imprint that has
        left an enduring impact on the sport, business, and popular culture, making him a timeless and transcendent figure in
        the annals of sports history.</p>
        
    </section>

    <section id="gallery">
        <h2>Gallery</h2>
        <div class="image-container">
            <img src="../images/img5.jpg" alt="Michael Jordan Image 1">
            <img src="../images/img6.jpg" alt="Michael Jordan Image 2">
            <!-- Add more images -->
        </div>
    </section>

    <footer>
            <%- include('./partials/footer'); %>
            <link rel='stylesheet' href='/stylesheets/footer.css' />
    </footer>
</body>

</html>