<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
    <link rel='stylesheet' href='/stylesheets/steph.css' />

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <nav>
        <ul>
            <li><a href="#about">About Steph</a></li>
            <li><a href="#achievements">Achievements</a></li>
            <li><a href="#legacy">Legacy</a></li>
            <li><a href="#gallery">Gallery</a></li>
        </ul>
    </nav>

    <section id="about">
        <h2>About Stephen Curry</h2>
        <p>Before Stephen Curry made his mark in the NBA as one of the greatest shooters in basketball history, his journey began
        in a basketball-centric family. He is the son of former NBA player Dell Curry, which exposed him to the game at an early
        age. Despite his smaller stature in his younger years, Curry displayed an uncanny shooting ability and deep passion for
        the sport. His father's influence and guidance helped shape his understanding of the game and solidify his love for
        basketball.
        <br>
        <br>
        Steph Curry attended Davidson College, a relatively small school in North Carolina, where he continued to refine his
        skills. During his sophomore year, Curry led the Davidson Wildcats on a remarkable Cinderella run in the 2008 NCAA
        Tournament. His extraordinary shooting and ability to carry his team deep into the tournament captured the nation's
        attention. This impressive showcase of talent helped him gain recognition as one of the most promising young players in
        college basketball.
        <br>
        <br>
        Curry's college career was marked by his prolific three-point shooting and scoring ability, and he was twice named an
        NCAA All-American. His exceptional shooting range, quick release, and basketball IQ set the stage for his eventual NBA
        success. These college years laid the foundation for Curry's transition to the professional league, where he would
        ultimately redefine the way the game of basketball is played.</p>
        
    </section>

    <section id="achievements">
        <h2>Achievements</h2>
        <ul>
            <li>3× NBA champion</li>
            <li>2× NBA Most Valuable Player (MVP)</li>
            <li>6× NBA All-Star</li>
            <li>3× NBA Three-Point Contest champion</li>
            <li>Multiple NBA records for three-pointers made in a season</li>
        </ul>
    </section>

    <section id="legacy">
        <h2>Legacy</h2>
        <p>Stephen Curry's legacy is marked by his transformative impact on the game of basketball. As a two-time NBA Most Valuable
        Player (MVP) and three-time NBA champion with the Golden State Warriors, Curry's unique style of play has revolutionized
        the sport. His exceptional three-point shooting ability, often characterized as "Steph Range," has redefined the way the
        game is played, influencing an entire generation of players to prioritize long-range shooting. Curry's offensive prowess
        and ball-handling skills have not only earned him personal accolades but also elevated his team to championship heights,
        symbolizing a new era of "small ball" basketball.
        <br>
        <br>
        Beyond his on-court achievements, Curry's legacy extends to philanthropy and community engagement. He and his wife,
        Ayesha, established the Eat. Learn. Play. Foundation, focusing on childhood hunger, education, and wellness. As a
        result, Curry's impact stretches beyond the court, reflecting his commitment to making a positive difference in the
        lives of youth and underserved communities. Steph Curry's legacy is not only about changing the way basketball is played
        but also about using his platform to inspire and effect real-world change, both in the game and the communities he
        serves.</p>
        
    </section>

    <section id="gallery">
        <h2>Gallery</h2>
        <div class="image-container">
            <img src="../images/img7.png" alt="Steph Image 1">
            <img src="../images/img8.png" alt="Steph Image 2">
        </div>
    </section>

    <footer>
        <%- include('./partials/footer'); %>
        <link rel='stylesheet' href='/stylesheets/footer.css' />
    </footer>
</body>

</html>